
#canvas-btn{
  text-align: center;
  right: 0;
  position: absolute;
}

#canvas{
  
  
  border: 5px black solid;
  background-color: black;
  margin: 10px;
  margin-right: 700px;
}

#gamebtn{
  position: relative;
  right: 0;
  justify-content: center;
  padding: 10px;
  margin-right: 715px;
 
  
}

.speler1uit{
  position: absolute;
  left: -80px;
  bottom: 20px;

}

.speler2uit{
  position: absolute;
left: 330px;
bottom: 20px;



}