*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #E5F6FF;
}


.welkom{
    text-align: center;
    font-size: 400%;
    font-family:Arial;
    color: black;
}


.cube2{
    display:flex;
    justify-content: center;
    flex-direction: column;
}


.cube{
    font-size: 200%;
    font-family:Arial;
    color: black;
    background-color:white;
    align-self: center;
    display:flex;
    text-align: center;
    width: 45%;
    margin-top:5%;
    margin-bottom:-2.5%;
}

footer{
    font-family:Arial;
    background-color: white;
    position:fixed;
    bottom: -0;
    width: 100%;
    height: 5vh;
    text-align: center;
    
}

.sidebar{
    font-family:Arial;
    position: absolute;
    height: 100%;
    width: 260px;
    background-color: #FFFFFF;
    padding: 15px;
    display: none;
    
}

.sidebar a {
    font-family:Arial;
    color: black;
    text-decoration: none;
    
    
}

.sidebar a:hover {
    font-family:Arial;
    padding: 3px;
    
    border-radius: 10px;
    
    
}

h1{
    font-family:Arial;
}

p{
    font-family:Arial;
}


.sidecontent{
    font-family:Arial;
    position: relative;
    list-style: none;
    font-size: 30px;
    margin: 20px, ;
    padding: 15px, ;
    
   
}

.topbar{
    font-family:Arial;
    background-color: white;
    height: 50px;
    
}

.openbtn{
    font-family:Arial;
    padding-left: 15px;
    font-size: 35px;
    background-color: white;
    border-style: none;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
}

.item1{
    font-family:Arial;
    padding: 30px;
    position: relative;
    display: inline-block;
    font-family:Arial;
}

 .item1:hover .subitem1{ display: block;}

.subitem1{
    font-family:Arial;
    display: none;
    background: #FFFFFF;
    margin-left: 80px;
    
    
    
}



.item2{
    padding: 30px;
}

.item2:hover .subitem2{ display: block;}

.subitem2{
    display: none;
    background: #FFFFFF;
    margin-left: 80px;
    
    
}

.item3{
    padding: 30px;
}

.item3:hover .subitem3{ display: block;}

.subitem3{
    display: none;
    background: #FFFFFF;
    
    margin-left: 80px;
    
    
}







